{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block content %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');
    .jumbotron{
        background-color: hsl(201, 100%, 36%,0.8);
        font-family: 'Sansita Swashed', cursive;
        height: 200px;
        color: #caf0f8;
    }
    body{
        font-family: 'Sansita Swashed', cursive;
        background-color: lightslategrey;
        background-image: url(../static/back.jpg);
        background-size: cover;
    }
    a:hover{
        text-decoration: none;
    }
    #exp{
        margin-top: -10px;
    }
</style>

<div class="container">
    <div class="jumbotron text-center">
       <h2 id="exp"> Get job listings from allover the world from our large database of jobs and apply now.</h2>
       <button id="add" class="btn btn-info"><a  href="/hire/new/"> Hire Now </a></button>
    </div>
  
        
    <form class="text-center" >
        <label for="keyword"><b style="color: linen;">search  for  jobs</b> </label>
        <input type="text" name="keyword" placeholder="e.g. python,java" class="form-control" required pattern="[0-9a-zA-Z]+" oninvalid="this.setCustomValidity('special characters are not allowed!')"
        oninput="this.setCustomValidity('')">
        <br>
        <input id="search" type="submit"  value="search" class="btn btn-primary ">
    </form>
    </div>
</div> 
  
</div>
 

{% endblock%}