{% extends 'base.html'%}

{% import 'macros.html' as macro%}
{% block content %}



<div class="container">
    <h1>{{title}}</h1>
    <button id="add" class="btn btn-outline-success"><a  href="/hire/new/"> Hire Now </a>

    <hr>
    <form >
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <input type="text" name="keyword" placeholder="word">
       
        </div>
        <input id="search" type="submit"  value="search" class="btn btn-default">
    </form>
    {{ macro.displayResults(jobs)}}
</div>
 

{% endblock%}