{% extends 'base.html'%}
{% import 'macros.html' as macro%}


{% block content%}
<style>
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
   body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
       background-color: lightslategrey;
       background-image: url(../static/back.jpg);
       background-size: cover;
     
   }

 
</style>
<div class="container">
    <div class="row">
        <div class="col-md-9">
    <h3 style="color: linen;">{{title}}, Found {{ jobs| count }} jobs </h3><hr>
        </div>
        <div class="col-md-3">
    <div class="dropdown"> 
        <button type="button" 
            class="btn btn-primary" 
            id="dropDownButton" 
            data-toggle="dropdown"
            aria-expanded="false"> 
            Locations 
            <span class="caret"></span> 
        </button> 
          
        <ul class="dropdown-menu" 
            aria-labelledby="dropDownButton"> 
           
                <li>{{ macro.displaylocale(jobs)}}</li> 
         
           
        </ul> 
    </div> 
    </div>
    </div>
    {{ macro.displayResults(jobs)}}

</div>


{% endblock %}